body {
    font-family: 'Montserrat', sans-serif;
}
#title {
    background-color: #ff4c68;
}
h1 {
    font-weight: 'Montserrat';
    font-weight: 900;
    font-size: 4rem;
    color: #fff;
}
h2 {
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3rem;
    color: #fff;
}
h3 {
    font-weight: bold;
}
p {
    font-size: 1.2rem;
}
.container-fluid {
    padding: 5% 15% 8%;
}

.btn {
    background-color: none;
}
.icon {
    height: 20px;
    width: 20px;
    padding-right: 5px;
}
.download-button {
    margin: 5% 3% 0 0;
}

/* Navigation Bar  */
.navbar {
    padding: 0 0 5rem;
}
.nav-item {
    padding: 0 18px;
}
.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 300;
}
.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}

.navbar-nav {
    text-align: right;
}

/* Title Image  */
.rotate-mobile {
    width: 60%;
    transform: rotate(30deg);
    position: absolute;
    right: 30%;
}

/* Features Section */
#features {
    text-align: center;
    padding: 7% 15%;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

/* Testimonials section */

#testimonials {
    text-align: center;
    background-color: #ff4c68;
}

.carousel-item {
    padding: 7% 15%;
}
.testimonial-image {
    padding: 20px;
    width: 10%;
    border-radius: 100%;
}

/* Press */

#press {
    background-color: #ff4c68;
    text-align: center;
    
}
.press-images {
    width: 10.5%;
    margin: 20px 50px 70px;
}

/* pricing section */
#pricing {
    padding: 100px;
    text-align: center;
}
.pricing-column {
    padding: 3% 2%;
}

/* cta */

#cta {
    text-align: center;
    padding: 9%;
    background-color: #ff4c68;
}
.cta-h3 {
    font-weight: 900;
    font-size: 5rem;
    color: #fff;
}

.cta-button {
    margin: 5% 1%;
}

.fab {
    margin-right: 5px;
}
/* footer */

#footer {
    text-align: center;
    padding : 8%;
}

.footer-icon {
    margin: 20px 20px;
}

p {
    font-weight: 600;
}

@media (max-width: 1050px){
    #title {
        text-align: center;
    }
    .rotate-mobile {
        position: static;
        transform: rotate(0);
        padding-top: 10%;
    }
}

/* @media (max-width: 400px) {
    .navbar-nav {
        text-align: right;
    }
} */
