body {
    margin: 0px;
    text-align: center;
    font-family: 'Roboto Mono', sans-serif;
    font-size: 200%;
}
hr {
    border-top: .5rem dotted #AAC4FF;
    width: 5rem;
    border: 8px 0px 0px 0px;
    border-top-width: 8px;
    padding-right: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
}
h1 {
    position: relative;
    width: 30%;
    margin: 0 auto;
    font-family: 'Shadows Into Light', cursive;
    font-size: 7.625rem;
    color: #66BFBF;
    height: 2;
}
h2 {
    position: relative;
    width: 30%;
    margin: 0 auto;
    font-size: 2.5rem;
    font-family: 'Roboto Mono', monospace;
    color: #66BFBF;
    font-weight: normal;
    padding-top: 50px;
}
.top-container-h2 {
    padding-top: 0;
}
h3 {
    width: 50% auto;
    color: #11999E;
}
a {
    color: #11999E;
}
p {
    position: relative;
    width: auto;
    font-family: 'Roboto Mono', monospace;
    
}
.top-container {
    background-color: #C3F8FF;
    position: relative;
    padding-top: 300px;
}
.middle-container {
    background-color: #ABD9FF;
    padding-bottom: 100px;
}
.profile {
    padding-top: 50px;
}
.profile-picture {
    width: 15%;
}
.bottom-container {
    background-color: #FFEBAD;
    padding-top: 50px;
    
}
.top-cloud {
    position: absolute;
    right: 14%;
    top: 20%;
    height: 10%;
    width: 20%;
}
.bottom-cloud {
    position: absolute;
    left: 15%;
    height: 10%;
    width: 20%;
}
.skill-row {
    width: 50%;
    margin: 50px auto;
    text-align: left;
}
.skill-name {
    padding-top: 8%;
}
.skill-one {
    width: 20%;
    float: left;
    padding-right: 30px;
}
.skill-two {
    width: 25%;
    float: right;
    padding-left: 30px;
}
.skill-one-description {
    clear: left;
}
.skill-two-description {
    clear: right;
}
.cv-download {
    padding-bottom: 40px;
    font-family: 'Roboto Mono', monospace;
}
.cv-download-pdf {
    height: 50px;
    width: 50px;
    padding-top: 5px;
}
/* .btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  } */
  .social-media {
    height: 80px;
    width: 80px;
    padding: 20px;
  }
  .footer-paragraph {
    margin: 0;
  }
